.button-activity {
    display: inline-block;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    background-color: #e0e0e0;
    color: #333;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button-activity.active {
    background-color: #f3a24b;
    color: #110101;
  }