.day {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr 3fr;
    border: 1px solid lightgrey;
    background-color:#f4f4f4;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
    border-radius: 20px;
}

.temperature {
  color: #ec6b4b;
  font-size: 26px;
}