#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-header {
  color: #ec6b4b;
  font-family: 'Leckerli One', cursive;
  font-size: 80px;
}

footer {
  background-color: #404041;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -40px -20px -40px;
  height: 100px;
}

footer p {
  margin: 0;
  color: #f4f4f4; 
  font-size: 15px;
}

.logo.open-weather {
  width: 70px;
  height: auto;
  margin-left: 0px;
  padding-left: 15px;
  padding-bottom: 40px;
}
