.button-email.clicked {
  background-color: #ec6b4b;
  color: #fff;
}

.email-input, .button-email.clicked {
  font-size: 18px;
}

.email-input {
  width: 300px; 
  height: 30px
}

.email-container {
  padding-top: 40px; }

.email-container p {
  margin-bottom: 0px; 
  margin-top: 0px; 
}

.email-container button {
  margin-left: 10px; 
  font-size: 18px;
  height: 40px

}

.error-message {
  font-size: 12px; 
  color: rgb(245, 74, 74); 
}